html{
    overflow-x: hidden;
   
}
body {

    background-color: white;
    font-family: "Open Sans", sans-serif;
    height: 100%;
}

h2, h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
}

/* Cart*/
.fa-shopping-cart{
  margin:auto;
  height: 40px;
  float:right;
  font-size: 30px;
  align-items: center;
}

/* Navigation or list CSS */
.list-unstyled{
    margin: 1px;
	width: 800px;
	font-family: sans-serif;
   
}
.list-unstyled li {
	display:block;
	width: 120px;
	float:left;
    font-weight:bold;
    	
}

.list-unstyled li a {
    color: rgb(4, 4, 184);
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}
.active {
    border-bottom: 3px solid red;
 }
 /* Footer CSS */
 footer {
    background-image:linear-gradient(white,#d2dfdf);
  
 }
.social{
 font-size: 30px;
}

.fa-github-square {
    color: rgb(3, 3, 3);
}

.fa-linkedin {
   color: rgb(27, 70, 139);
}
.fa-twitter-square {
   color: rgb(20, 98, 149);
}
.fa-envelope{
    color:blue;
    font-size: 20px;
}



.jumbotron {
    margin: 0;
    padding: 5px;
    background-image:#fff;
    color: white;
}

.navbar-toggler{
    width: 40px;
    height: 34px;
    background-color: white;
    border:none;
}
.navbar-toggler .line{
    width: 80%;
    float: left;
    height: 5px;
    background-color: rgb(21, 13, 139);
    margin-bottom: 4px;
}

form {
    background-image:linear-gradient(rgb(236, 232, 232),rgb(200, 202, 170),#ffffff);
    
    width: 700px;
    height: 50px;
    border-radius: 1px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  input {
    
    all: unset;
    font: 16px system-ui;
    color: rgb(66, 11, 168);
    height: 100%;
    width: 100%;
    padding: 6px 10px;
  }
  ::placeholder {
    
    color: black;
    opacity: 0.7; 
    
  }
  button {
     
    all: unset;
    cursor: pointer;
    width: 50px;
    height: 50px;
  }
  
  svg {
    color: rgb(0, 0, 0);
    fill: currentColor;
    width: 70px;
    height: 50px;
    padding: 10px;
  }

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.input{
    outline: none;
}
li{
    text-align: left;
}
/* carouse */
#carouselExampleControls{
   position: absolute;
  
}
#just{
    position: relative;
 
 }
 .carousel-inner{
     height: 80vh ;
 }
 
 .slider{
     font-size: 40px;
     font-weight: bold;
     text-transform: uppercase;
     height: 150px;
     

 }

.slider {
    animation-name            : scrollBanner;
    animation-duration        : 25s;
    animation-delay           : 10s;
    animation-iteration-count : 1;
    animation-fill-mode       : forwards;   
    width                     : 500%;        
    column-count              : 5;
    column-gap                : 0;
}

@keyframes scrollBanner {
    from { transform : translateX(0) }
    17%  { transform : translateX(0%) }
    20%  { transform : translateX(-20%) }
    37%  { transform : translateX(-20%) }
    40%  { transform : translateX(-40%) }
    57%  { transform : translateX(-40%) }
    60%  { transform : translateX(-60%) }
    77%  { transform : translateX(-60%) }
    80%  { transform : translateX(-80%) }
    97%  { transform : translateX(-80%) }
    to   { transform : translateY(0%) }
}

/* carousel control icon*/
.carousel-control-prev-icon,
.carousel-control-next-icon {
   
  height: 80px;
  width: 80px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 2px solid blue;
  background-image: none;
  
}

.carousel-control-next-icon:after
{
    
content: 'EM';
  font-size: 50px;
  color: blue;
  align-self: center;
}

.carousel-control-prev-icon:after {
  content: 'EM';
  font-size: 50px;
  text-align: center;
  color: blue;
}

/* card*/
.card {

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
    

}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.st-plink{
    text-decoration: none;
    color: #003366;
    font-weight: 300;
    letter-spacing: 0.5px;
    padding-right: 8px;
}
/* Title*/
h7{
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: bold;
    font-family: monospace;
    letter-spacing: 4px;
    cursor: pointer
  }
  h7 span{
    transition: .5s linear;
  }
  h7:hover span:nth-child(1){
    margin-right: 1px
  }
  
  h7:hover span:nth-child(2){
    margin-left: 1px
  }
  h7:hover span{
    color: blue;
    text-shadow: 0 0 40px rgb(255, 255, 255),
                 0 0 60px rgb(255, 255, 255),
                 0 0 80px rgb(255, 255, 255),
  }


.st-text::first-letter{
    font-size: 6rem;
    display: block;
    float: left;
    font-family: monospace;
    line-height: 0.4;
    margin: 15px 15px 10px 0;
    color: #0000ff;
}

  /* contact us*/
  .comment{
      margin: 5px;
  }
  .name{
      margin: 2px;
  }
/* Contact us*/
.form-group {
padding: 10px;
}
.comment{
  margin-top: 20px;
  
  font-size: 20px;
  font-weight: bold;
  color: #0000ff;
}

